{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <link rel="stylesheet" href="{% static 'css/estiloss.css' %}">
</head>
<form method="POST" action="{% url 'guarda' %}">
  {% csrf_token %}
  <h2>Editor de Fichero</h2>
  <input type="hidden" name="filename" value="{{ filename }}">
  <textarea name="datos_modificados" id="fileContent" placeholder="Contenido del fichero..." rows="20"
    cols="80">{{ datos }}</textarea>
  <button type="submit">Guardar cambios</button>
</form>

</html>